# Ignore only build outputs, Git and VS stuff
**/.git
**/.vs
**/bin
**/obj

# Keep all C# source files
!**/*.cs
!**/*.csproj

# Ignore everything else
**/*.md
**/*.suo
**/*.user
**/*.userosscache
**/*.nupkg
**/packages
.env
.env.*
